
.header {
    grid-area: h;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 700;
  }
.header img {
    width: 50px;
  }
.loginBlock a{
  color: white;
  text-decoration: none;
  
}
.loginBlock p {
  padding: 5px;
}
